@media (max-width: 1666px) {
  body main .question_section .question_container ul li {
    font-size: 1.6em;
  }
  body main .question_section .question_container ul li .question_mark {
    width: 50px;
    height: 50px;
  }
  body main .question_section .question_container ul li .question_mark:after {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1584px) {
  body header .menu_anchors {
    width: 73%;
  }
  body main .first_section .txt h1 {
    font-size: 4em;
  }
  body main .first_section .txt a, body main .first_section .txt p {
    font-size: 2em;
  }
  body main .section_header {
    height: 15vh;
  }
  body main .second_section p {
    font-size: 2.1em;
  }
  body main .section_header h1 {
    font-size: 4em;
  }
  body main .basic_school .lessons_container .lesson_description, body main .sport_school .lessons_container .lesson_description {
    font-size: 1.7em;
  }
  body main .basic_school .lessons_container .lesson .lesson_img h3, body main .sport_school .lessons_container .lesson .lesson_img h3 {
    font-size: 2em;
  }
  body main .basic_school .lessons_container .lesson .lesson_price, body main .sport_school .lessons_container .lesson .lesson_price {
    font-size: 1.5em;
  }
  body main .basic_school .lessons_container .lesson .want-learn_btn, body main .sport_school .lessons_container .lesson .want-learn_btn {
    font-size: 1.6em;
  }
  body main .gift_section h3 {
    font-size: 2.1em;
  }
  body main .gift_section p {
    font-size: 1.81em;
  }
  body main .gift_section .order_btn {
    font-size: 1.9em;
  }
  body main .contact_section .contact_content img {
    width: 28px;
  }
  body main .contact_section .contact_content a, body main .contact_section .contact_content li, body main .contact_section .contact_content p {
    font-size: 2.1em;
  }
}
@media (max-width: 1236px) {
  body header .menu_anchors ul li a {
    font-size: 1.2em;
  }
  body main .first_section {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;
  }
  body main .first_section .txt {
    text-align: center;
    width: 100%;
  }
  body main .first_section .txt h1 {
    font-size: 3em;
  }
  body main .first_section .txt a, body main .first_section .txt p {
    font-size: 1.8em;
  }
  body main .first_section .big_logo {
    width: 60%;
  }
  body main .second_section p {
    font-size: 1.3em;
  }
  body main .section_header {
    height: 10vh;
  }
  body main .section_header h1 {
    font-size: 2.4em;
  }
  body main .basic_school .lessons_container .lesson .lesson_img h3, body main .sport_school .lessons_container .lesson .lesson_img h3 {
    font-size: 1.3em;
  }
  body main .gift_section h3 {
    font-size: 1.5em;
  }
  body main .gift_section p {
    font-size: 1.4em;
  }
  body main .question_section .question_container ul li {
    font-size: 1em;
  }
  body main .contact_section .contact_content a, body main .contact_section .contact_content p, body main .contact_section .contact_content li {
    font-size: 1.4em;
  }
  body main .popup .popup_logo {
    width: 30%;
  }
  body main .popup .popup_text_logo {
    width: 30%;
  }
  body main .popup .popup_content {
    width: 90%;
  }
  body main .popup .popup_content form input, body main .popup .popup_content form selector {
    width: 65vw;
  }
  body main .popup .popup_content form .send_letter {
    font-size: 1.4em;
  }
}
@media (max-width: 765px) {
  body header .menu_anchors ul li a {
    font-size: 0.78em;
  }
  body main .first_section {
    flex-flow: column;
    height: 35vh;
  }
  body main .first_section video {
    height: 100%;
  }
  body main .first_section .big_logo {
    display: none;
  }
  body main .first_section .txt {
    display: flex;
    text-align: center;
    flex: 2;
    justify-content: center;
    width: 100%;
  }
  body main .first_section .txt h1 {
    font-size: 1.5em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .first_section .txt a, body main .first_section .txt p {
    font-size: 1.3em;
    display: none;
  }
  body main .second_section {
    display: flex;
    flex-flow: column;
  }
  body main .second_section p {
    font-size: 1em;
  }
  body main .section_header {
    height: 6.8vh;
  }
  body main .section_header h1 {
    font-size: 1.8em;
    font-weight: 900;
    text-align: center;
  }
  body main .basic_school .lessons_container .lesson, body main .sport_school .lessons_container .lesson {
    width: 100%;
  }
  body main .basic_school .lessons_container .lesson .lesson_img h3, body main .sport_school .lessons_container .lesson .lesson_img h3 {
    font-size: 1.75em;
  }
  body main .basic_school .lessons_container .lesson .lesson_img img, body main .sport_school .lessons_container .lesson .lesson_img img {
    width: 49vw;
  }
  body main .basic_school .lessons_container .lesson .want-learn_btn, body main .sport_school .lessons_container .lesson .want-learn_btn {
    width: clamp(244px, 40%, 325px);
    height: 4.8vh;
  }
  body main .gift_section .order_btn {
    font-size: 1.48em;
  }
  body main .gift_section .certificate_block img {
    width: 90%;
  }
  body main .gift_section .order_btn {
    width: clamp(204px, 30%, 325px) !important;
  }
}
@media (max-width: 707px) {
  body main .question_section .question_container ul li {
    justify-content: center;
    text-align: center;
  }
  body main .question_section .question_container ul li p {
    width: 100%;
  }
  body main .question_section .question_container ul li .question_mark {
    margin-top: 15px;
  }
}
@media (max-width: 609px) {
  body main .basic_school .lessons_container .lesson_description, body main .sport_school .lessons_container .lesson_description {
    padding: 0 4vw;
    font-size: 0.8em;
  }
  body main .basic_school .lessons_container .lesson .lesson_img h3, body main .sport_school .lessons_container .lesson .lesson_img h3 {
    font-size: 1.2em;
  }
  body main .popup .popup_content .send_letter {
    font-size: 1.2em;
    width: 42%;
  }
}
@media (max-width: 505px) {
  body header .logo {
    width: 30%;
  }
  body header .logo img {
    width: 85%;
  }
  body header .menu_anchors {
    width: 70%;
  }
  body main .first_section .big_logo {
    padding-top: 4px;
  }
  body main .first_section .txt a, body main .first_section .txt p {
    font-size: 0.8em;
  }
  body main .section_header {
    height: 5.55vh;
  }
  body main .section_header h1 {
    font-size: 1.35em;
  }
  body main .second_section p {
    font-size: 0.8em;
  }
  body main .basic_school .lessons_container .lesson .lesson_img img, body main .sport_school .lessons_container .lesson .lesson_img img {
    width: 69vw;
  }
  body main .gift_section h3 {
    font-size: 1.2em;
  }
  body main .gift_section p {
    font-size: 0.9em;
    padding: 10px 0 18px 0;
  }
  body main .question_section .question_container {
    padding: 3vh 8vw;
  }
  body main .contact_section .contact_content {
    padding: 3vh 4vw;
  }
  body main .contact_section .contact_content a, body main .contact_section .contact_content p, body main .contact_section .contact_content li {
    font-size: 0.8em;
  }
  body main .contact_section .contact_content img {
    width: 18px;
  }
  body main .contact_section .contact_content .place .place_address {
    padding-bottom: 2vh;
  }
}

/*# sourceMappingURL=media.css.map */
